*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-caro{
    background-blend-mode: overlay;
    background-color: #0006;
    padding-top: 250px;
    padding-left: 250px;
    padding-bottom: 100px;
}

.div-caro2{
    background-blend-mode: overlay;
    background-color: #0006;
    padding-top: 350px;
    padding-left: 250px;
    padding-bottom: 100px;
}

.blue-section{
    background-image: url(./images/1st\ background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    /* height: 65vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-blue{
    display: flex;
    width: 80%;
    /* height: 80%; */
    /* justify-content: space-between; */
    gap: 50px;
}

.second-blue{
    flex-wrap: wrap;
    display: flex;
    gap: 70px;
}

.next{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ash-div{
    width: 80%;
    background-color: #f0f0f0;
    padding-bottom: 40px;
}

.pics-div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
    gap: 70px;
    opacity: 50%;
}

.third-div{
    width: 80%;
    /* height: 100px; */
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hover-button:hover{
    background-color: white !important;
    border: 3px solid #0087db !important;
}

.hover-button:hover span{
    color: #0087db !important;
}

.hover-button:hover img{
    content: url(./images/arrow_forward_ios_24dp_0087DB_FILL0_wght400_GRAD0_opsz24.svg);
}

.fourth-div{
    width: 80%;
    display: flex;
    gap: 30px;
}

.inner-div{
    background-color: #0087db;
    width: 30%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
    gap: 20px;
}

.inner-div2{
    background-color: #eeeeee;
    width: 30%;
    /* height: 25vh; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
    gap: 20px;
}

.fifth-div{
    width: 100%;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.fifth-div img{
    width: 100%;
}

.hov-button:hover span{
    color: white !important;
    transition: 0.3s all;
}

.hov-button:hover img{
    content: url(./images/arrow_forward_ios_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
}

.sixth-div img{
    width: 100%;
}

.sixth-div{
    width: 100%;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    background-color: #f8f8f8;
    padding-top: 35px;
    padding-bottom: 35px;
}

.seventh-div{
    width: 100%;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.second-blue-div{
    background-image: url(./images/2nd\ background.png);
    background-position: center;
    background-size: cover;
    background-color: #0087db;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder{
    color: white;
}

input{
    width: 30vw;
    height: 7vh;
}

.footer{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 30px;
}

.footer-div{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-p{
    color: #d8d3cb;
    font-weight: bold;
}





@media screen and (max-width: 480px) {
    .div-caro{
        text-align: center;
        /* height: 130vh; */
        padding: 150px 0;
    }

    .div-caro2{
        text-align: center;
        /* height: 130vh; */
        padding: 150px 0;
    }

    .parent-blue{
        flex-direction: column;
    }

    .blue-section{
        padding-bottom: 230px;
    }

    .second-blue{
        flex-wrap: wrap;
        /* flex-direction: column; */
    }

    .next{
        margin-top: 40px;
    }

    .ash-div{
        width: 100%;
        margin-top: 100px;
    }

    .pics-div{
        flex-wrap: wrap;
    }

    .third-div{
        flex-direction: column;
    }

    .fourth-div{
        flex-direction: column;
        margin-top: 30px;
    }

    .inner-div{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .inner-div2{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .fifth-div{
        flex-direction: column;
        margin-top: 130px;
    }

    .sixth-div{
        flex-direction: column;
        margin-top: 300px;
    }

    .seventh-div{
        flex-direction: column;
        text-align: center;
    }

    .seventh-div img{
        width: 80%;
    }

    .footer{
        flex-direction: column;
    }

    .footer-div{
        flex-direction: column;
        text-align: center;
    }

    .child-footer{
        margin-top: 30px;
    }

    .child-footer2{
        margin-top: 60px;
    }
}